<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NopeNotes"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NopeNotes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryRejectionActivity"
            android:label="관계별 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".WorkRejectionActivity"
            android:label="직장 관계 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".FriendRejectionActivity"
            android:label="친구 관계 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".FamilyRejectionActivity"
            android:label="가족 관계 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".SpouseRejectionActivity"
            android:label="부부 관계 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".LoverRejectionActivity"
            android:label="연인 관계 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".SeniorJuniorRejectionActivity"
            android:label="선배/후배 관계 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".SearchRejectionActivity"
            android:label="거절 멘트 검색"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".RecommendRejectionActivity"
            android:label="거절 멘트 추천"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".HumorRejectionActivity"
            android:label="유머 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".RejectionTipsActivity"
            android:label="거절 팁 &amp; 분위기 풀기"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".EmotionRejectionActivity"
            android:label="감정별 거절 멘트"
            android:theme="@style/Theme.NopeNotes" />
        <activity
            android:name=".EmotionRejectionListActivity"
            android:label="감정별 거절 멘트 목록"
            android:theme="@style/Theme.NopeNotes" />
    </application>

</manifest>